In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(pd.read_excel("https://www.bls.gov/lau/laucnty05.xlsx"))

In [3]:
df.drop(index=df.index[:5], axis=0, inplace=True)

In [4]:
df.drop(index=df.tail(3).index,axis = 0, inplace=True)

In [5]:
df.drop(columns="Unnamed: 5", inplace=True)

In [6]:
df.replace(to_replace="N.A.", value=0, inplace=True)

In [7]:
df.columns = ["LAUS_code", "state_fips", "county_fips", "county_state", "year", "labor_force", "employed", "unemployed", "unemployment_rate"]

In [8]:
df['fips'] = df['state_fips'] + df['county_fips']

In [9]:
df

,LAUS_code,state_fips,county_fips,county_state,year,labor_force,employed,unemployed,unemployment_rate,fips
5,CN0100100000000,01,001,"Autauga County, AL",2005,23887,22986,901,3.8,01001
6,CN0100300000000,01,003,"Baldwin County, AL",2005,76608,73581,3027,4.0,01003
7,CN0100500000000,01,005,"Barbour County, AL",2005,10730,10114,616,5.7,01005
8,CN0100700000000,01,007,"Bibb County, AL",2005,8837,8444,393,4.4,01007
9,CN0100900000000,01,009,"Blount County, AL",2005,26378,25434,944,3.6,01009
...,...,...,...,...,...,...,...,...,...,...
3217,CN7214500000000,72,145,"Vega Baja Municipio, PR",2005,20930,18296,2634,12.6,72145
3218,CN7214700000000,72,147,"Vieques Municipio, PR",2005,3062,2725,337,11.0,72147
3219,CN7214900000000,72,149,"Villalba Municipio, PR",2005,9506,8112,1394,14.7,72149
3220,CN7215100000000,72,151,"Yabucoa Municipio, PR",2005,11247,9272,1975,17.6,72151
3221,CN7215300000000,72,153,"Yauco Municipio, PR",2005,16695,14380,2315,13.9,72153

In [10]:
print(pd.io.sql.get_schema(df, "us_employment_data"))

CREATE TABLE "us_employment_data" (
"LAUS_code" TEXT,
  "state_fips" TEXT,
  "county_fips" TEXT,
  "county_state" TEXT,
  "year" TEXT,
  "labor_force" INTEGER,
  "employed" INTEGER,
  "unemployed" INTEGER,
  "unemployment_rate" REAL,
  "fips" TEXT
)

In [11]:
df.year = pd.to_numeric(df.year)
df.unemployment_rate = pd.to_numeric(df.unemployment_rate)

In [12]:
print(pd.io.sql.get_schema(df, "us_employment_data"))

CREATE TABLE "us_employment_data" (
"LAUS_code" TEXT,
  "state_fips" TEXT,
  "county_fips" TEXT,
  "county_state" TEXT,
  "year" INTEGER,
  "labor_force" INTEGER,
  "employed" INTEGER,
  "unemployed" INTEGER,
  "unemployment_rate" REAL,
  "fips" TEXT
)

In [13]:
df.to_csv(f"/Users/alvin/Documents/projects/project_de-zoomcamp/01-ingestion/data/us_employment_{df.year[6]}.csv", index=None, header=True)

In [14]:
df_csv = pd.DataFrame(pd.read_csv(f"/Users/alvin/Documents/projects/project_de-zoomcamp/01-ingestion/data/us_employment_{df.year[6]}.csv"))

In [15]:
df_csv

,LAUS_code,state_fips,county_fips,county_state,year,labor_force,employed,unemployed,unemployment_rate,fips
0,CN0100100000000,1,1,"Autauga County, AL",2005,23887,22986,901,3.8,1001
1,CN0100300000000,1,3,"Baldwin County, AL",2005,76608,73581,3027,4.0,1003
2,CN0100500000000,1,5,"Barbour County, AL",2005,10730,10114,616,5.7,1005
3,CN0100700000000,1,7,"Bibb County, AL",2005,8837,8444,393,4.4,1007
4,CN0100900000000,1,9,"Blount County, AL",2005,26378,25434,944,3.6,1009
...,...,...,...,...,...,...,...,...,...,...
3212,CN7214500000000,72,145,"Vega Baja Municipio, PR",2005,20930,18296,2634,12.6,72145
3213,CN7214700000000,72,147,"Vieques Municipio, PR",2005,3062,2725,337,11.0,72147
3214,CN7214900000000,72,149,"Villalba Municipio, PR",2005,9506,8112,1394,14.7,72149
3215,CN7215100000000,72,151,"Yabucoa Municipio, PR",2005,11247,9272,1975,17.6,72151
3216,CN7215300000000,72,153,"Yauco Municipio, PR",2005,16695,14380,2315,13.9,72153